
@font-face {

    font-family:"Bluefish";
    src: url('../../public/fonts/bluefish.otf');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
  }
$font-title: "Bluefish", sans-serif;

$color-title:#E7DBC5;
$color-red: #C14953;
$color-gray:#ADA0A6;