
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anton&family=Dancing+Script:wght@400..700&display=swap');

@font-face {

    font-family:"Bluefish";
    src: url('../../public/fonts/bluefish.otf');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
  }


$font-title: "Bluefish", sans-serif;
$font-title-home: "Allerta Stencil", sans-serif;
$font-las-tejedoras: "Dancing Script", cursive;
$font-banquete: "Anton", sans-serif;


$color-title:#E7DBC5;
$color-red: #C14953;
$color-gray:#ADA0A6;

  