@use '_vars.scss';

.gallery {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
  }
  
  .galleryItem {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-position: center;
  }
  
  .galleryImage {
    overflow: hidden;
    border-radius: 10px;
    display:block;
    height: 1fr;
    width: 1fr;
    object-fit: cover;
    object-position: center top;
    border: solid 1px #E7DBC5;
    transition: transform 0.3s ease; // Efecto de zoom suave al pasar el mouse

  }
  
  .galleryItem:hover .galleryImage {
    transform: scale(1.1);
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); // Fondo oscuro semitransparente
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .lightboxImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
  
  .lightboxClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  .lightboxNav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  
  .lightboxPrev {
    left: 20px;
  }
  
  .lightboxNext {
    right: 20px;
  }