@use '_vars.scss';

.background {
    background: radial-gradient(circle, rgba(0,1,4,1) 0%, rgba(58,144,18,1) 0%, rgba(6,42,50,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.3em;
    height: 100vh;
    width: 100%;
}

.mainTitle{
    text-align: center;
    font-family: vars.$font-title;
    color: vars.$color-title;
    letter-spacing: 3px;
    font-size: 3.5rem;
    text-transform: uppercase;

  }

  .mainSubtitle{
    text-align: center;
    font-size: 1rem;
    color: vars.$color-gray;
    letter-spacing: 1px;
    
  }

  .mainImage{
    width: 90%;
    max-width: 40rem;
  }

  @media (min-width: 768px) {
    .mainTitle{
        font-size: 700%;
    }
    .mainSubtitle{
        font-size: 1.5rem;
    }
  }