@use '_vars.scss';

.background {
    background: radial-gradient(circle, rgba(0,1,4,1) 0%, rgba(58,144,18,1) 0%, rgba(6,42,50,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.mainTitle{
    margin-top: 5%;
    text-align: center;
    font-size: 2.5rem;
    font-family: vars.$font-title;
    color: vars.$color-title;
    letter-spacing: 3px;

  }
