@use './_vars.scss';

.navContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    opacity: 1;
    transition: margin 0.5s;
    margin-top: -24rem;
  }
  
  .active{
    margin-top: 10px;
  }

  .navContainer.active {
    opacity: 1;
  }
  
  .barraElementos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: fit-content;
    padding: 1rem;
    transition: margin 0.5s, background 0.5s;
  }
  
  .itemsBarra {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 18px;
    background-color: #c14953;
    transition: padding 0.3s;
    width: fit-content;
  }
  
  .itemsBarra:hover {
    padding-left: 50px;
  }
  
  .iconContainer {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    width: 100px;
  } 


  .label{
     display:flex;
     flex-direction:column;
     width:30px;
     cursor:pointer;
     margin-left: 1rem;
     margin-top: 1rem;
   }
   
   .label .span{
     background: vars.$color-title;
     border-radius:10px;
     height:7px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   .span:nth-of-type(1){
     width:50%;
     
   }
   
   .span:nth-of-type(2){
     width:100%;
   }
   
   
   .span:nth-of-type(3){
     width:75%;
    
   }
   
   
   .input[type="checkbox"]{
     display:none;
   }
   
   
   .input[type="checkbox"]:checked ~ .span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   .input[type="checkbox"]:checked ~ .span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   .input[type="checkbox"]:checked ~ .span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(30px,-11px) rotatez(45deg);
   
   }
   
   @media (min-width: 768px) {
     
        .label{
            width: 70px;}
   }