@use '../vars';

.equipoImg{
    border: 5px solid #fff;
}

.equipoCard{
    display: flex;
    gap:1rem;
    text-align: left;
    width: 95%;
    max-width: 35rem;
    padding: 3%;
    color: vars.$color-title;
}

.equipoCard > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 300px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}



.equipoData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    border-bottom: 1px solid vars.$color-title;
}

