@use '../vars';

.equipoImg{
    border: 5px solid #fff;
}

.equipoCard{
    display: flex;
    gap:1rem;
    text-align: left;
    width: 95%;
    max-width: 40rem;
    padding: 3%;
    color: vars.$color-title;
}

.equipoCardImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}



.equipoData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22rem;
    width: 100%;
    gap: 0.3rem;
}

.equipoData > p{
    padding-bottom: 1rem;
    border-bottom: 1px solid vars.$color-title;
}

.equipoData > button{
    margin: 1rem auto;
    width: fit-content;
    background: transparent;
    color: vars.$color-title;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border: 1px solid vars.$color-title;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    cursor:pointer;
    transition: all 0.5s;
}

.equipoData > button:hover{
    background: vars.$color-title;
    color: green;
}

.space{
    height: 13rem;
}

