@use '../vars';

.equipoImg{
    border: 5px solid #fff;
}

.equipoCard{
    display: flex;
    gap:1rem;
    text-align: left;
    width: 95%;
    max-width: 40rem;
    padding: 3%;
    color: vars.$color-title;
}

.equipoCard > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}



.equipoData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22rem;
    width: 100%;
    gap: 0.3rem;
    border-bottom: 1px solid vars.$color-title;
}

