@use '../_vars.scss';

.musicaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
    text-align: center;
    margin-top: 10%;
}

.musicaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 30rem;
    color: vars.$color-title;

}

.imageDisc{
    filter: contrast(140%);
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    transition: transform 1s;
    cursor:pointer;
    margin-bottom: 10%;
  
}

.turnDisc{
    transform: rotateZ(720deg);
}

.textMusicContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 30rem;
}


@media (min-width: 768px) {

    .musicaSection{
        flex-direction: row;
        align-items: flex-start;
        gap:4rem;

    }
 
    .textMusicContainer{
        gap:2rem;
        margin-top: 7%;
    
    }

    .musicaContainer{
        width: 300px;
    }

   
  
}