@use '../_vars.scss';


.containerTextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    color: vars.$color-title;
    width: 100%;
    max-width: 40rem;
    padding-inline: 5%;
}

.active{
    color: red;
}

.pdfContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .containerTextos{
      flex-direction: row;
    }
}